## build output
target/

## eclipse files
.project
.classpath
.settings/

## Mac directory files
.DS_Store
Thumbs.db

## IntelliJ Files
.idea
*.ipr
*.iws
*.iml
/test/
/lib/
/classes/
/bin/

#swpfiles
config.properties~

wintmp/configs/log-conf.xml
configs/config.properties
configs/log-conf.xml
configs/null_lastRun.properties
configs/ui_lastRun.properties
dataloader-51.0.1-uber.jar
dataloader.jks
dataloader_mac.zip
dataloader_win.zip
dbtestout.log
dlcmd.sh
dldebug.sh
dloutput.txt
exceptions.txt
extract.csv
intout.txt
keystore.pkcs12
mvnout.txt
mydlbuilder.sh
output.txt
output2.txt
output50.txt
package.txt
pom.xml.mac
pom.xml.win
src/test/resources/testfiles/conf/dbtestout.log
status/error020521103825099.csv
status/success020521103825099.csv
testout.txt
tf.txt
tmp/.dataloader.command.swp
tmp/configs/config.properties
tmp/configs/log-conf.xml
tmp/dataloader-51.0.1-uber.jar
tmp/dataloader.command
tmp/dataloader.ico
tmp/dataloader_mac.zip
tmp/fileicon
tmp/install.command
tmp/samples/conf/accountExtractMap.sdl
tmp/samples/conf/accountExtractToDbMap.sdl
tmp/samples/conf/accountInsertMap.sdl
tmp/samples/conf/accountMasterMap.sdl
tmp/samples/conf/accountUpdateMap.sdl
tmp/samples/conf/database-conf.xml
tmp/samples/conf/log-conf.xml
tmp/samples/conf/opportunityInsertMap.sdl
tmp/samples/conf/opportunityUpdateMap.sdl
tmp/samples/conf/opportunityUpsertMap.sdl
tmp/samples/conf/process-conf.xml
tmp/samples/conf/sample.key
tmp/samples/data/accountData.csv
tmp/samples/data/opportunityData.csv
tmp/samples/status/accountMasterSoapTrace.log
tmp/samples/status/error0413060133.csv
tmp/samples/status/success0413060133.csv
wintmp/.dataloader.bat.swp
wintmp/bin/encrypt.bat
wintmp/bin/process.bat
wintmp/configs/config.properties
wintmp/dataloader-51.0.1-uber.jar
wintmp/dataloader.bat
wintmp/dataloader.ico
wintmp/dataloader_win.zip
wintmp/install.bat
wintmp/samples/conf/accountExtractMap.sdl
wintmp/samples/conf/accountExtractToDbMap.sdl
wintmp/samples/conf/accountInsertMap.sdl
wintmp/samples/conf/accountMasterMap.sdl
wintmp/samples/conf/accountUpdateMap.sdl
wintmp/samples/conf/database-conf.xml
wintmp/samples/conf/log-conf.xml
wintmp/samples/conf/opportunityInsertMap.sdl
wintmp/samples/conf/opportunityUpdateMap.sdl
wintmp/samples/conf/opportunityUpsertMap.sdl
wintmp/samples/conf/process-conf.xml
wintmp/samples/conf/sample.key
wintmp/samples/data/accountData.csv
wintmp/samples/data/opportunityData.csv
wintmp/samples/status/accountMasterSoapTrace.log
wintmp/samples/status/error0413060133.csv
wintmp/samples/status/success0413060133.csv
xyz.jks
xyzcombo.pem
.pom.xml.swp
dataloader_mac_arm64.zip
local-proj-repo/junit/junit/3.8.1/junit-3.8.1.pom.sha1
local-proj-repo/junit/junit/3.8.1/junit-3.8.1.pom
local-proj-repo/junit/junit/3.8.1/junit-3.8.1.jar.sha1
local-proj-repo/junit/junit/3.8.1/junit-3.8.1.jar
local-proj-repo/junit/junit/3.8.1/_remote.repositories
local-proj-repo/classworlds/classworlds/1.1-alpha-2/classworlds-1.1-alpha-2.pom.sha1
local-proj-repo/classworlds/classworlds/1.1-alpha-2/classworlds-1.1-alpha-2.pom
local-proj-repo/classworlds/classworlds/1.1-alpha-2/classworlds-1.1-alpha-2.jar.sha1
local-proj-repo/classworlds/classworlds/1.1-alpha-2/classworlds-1.1-alpha-2.jar
local-proj-repo/classworlds/classworlds/1.1-alpha-2/_remote.repositories
local-proj-repo/org/apache/apache/10/_remote.repositories
local-proj-repo/org/apache/apache/10/apache-10.pom
local-proj-repo/org/apache/apache/10/apache-10.pom.sha1
local-proj-repo/org/apache/apache/11/_remote.repositories
local-proj-repo/org/apache/apache/11/apache-11.pom
local-proj-repo/org/apache/apache/11/apache-11.pom.sha1
local-proj-repo/org/apache/apache/3/_remote.repositories
local-proj-repo/org/apache/apache/3/apache-3.pom
local-proj-repo/org/apache/apache/3/apache-3.pom.sha1
local-proj-repo/org/apache/maven/maven-artifact-manager/2.0.6/maven-artifact-manager-2.0.6.jar
local-proj-repo/org/apache/maven/maven-artifact-manager/2.0.6/maven-artifact-manager-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-artifact-manager/2.0.6/maven-artifact-manager-2.0.6.pom
local-proj-repo/org/apache/maven/maven-artifact-manager/2.0.6/maven-artifact-manager-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-artifact/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-artifact/2.0.6/maven-artifact-2.0.6.jar
local-proj-repo/org/apache/maven/maven-artifact/2.0.6/maven-artifact-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-artifact/2.0.6/maven-artifact-2.0.6.pom
local-proj-repo/org/apache/maven/maven-artifact/2.0.6/maven-artifact-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-model/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-model/2.0.6/maven-model-2.0.6.jar
local-proj-repo/org/apache/maven/maven-model/2.0.6/maven-model-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-model/2.0.6/maven-model-2.0.6.pom
local-proj-repo/org/apache/maven/maven-model/2.0.6/maven-model-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-parent/21/_remote.repositories
local-proj-repo/org/apache/maven/maven-parent/21/maven-parent-21.pom
local-proj-repo/org/apache/maven/maven-parent/21/maven-parent-21.pom.sha1
local-proj-repo/org/apache/maven/maven-parent/22/_remote.repositories
local-proj-repo/org/apache/maven/maven-parent/22/maven-parent-22.pom
local-proj-repo/org/apache/maven/maven-parent/22/maven-parent-22.pom.sha1
local-proj-repo/org/apache/maven/maven-parent/5/_remote.repositories
local-proj-repo/org/apache/maven/maven-parent/5/maven-parent-5.pom
local-proj-repo/org/apache/maven/maven-parent/5/maven-parent-5.pom.sha1
local-proj-repo/org/apache/maven/maven-plugin-api/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-plugin-api/2.0.6/maven-plugin-api-2.0.6.jar
local-proj-repo/org/apache/maven/maven-plugin-api/2.0.6/maven-plugin-api-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-plugin-api/2.0.6/maven-plugin-api-2.0.6.pom
local-proj-repo/org/apache/maven/maven-plugin-api/2.0.6/maven-plugin-api-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-plugin-registry/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-plugin-registry/2.0.6/maven-plugin-registry-2.0.6.jar
local-proj-repo/org/apache/maven/maven-plugin-registry/2.0.6/maven-plugin-registry-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-plugin-registry/2.0.6/maven-plugin-registry-2.0.6.pom
local-proj-repo/org/apache/maven/maven-plugin-registry/2.0.6/maven-plugin-registry-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-profile/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-profile/2.0.6/maven-profile-2.0.6.jar
local-proj-repo/org/apache/maven/maven-profile/2.0.6/maven-profile-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-profile/2.0.6/maven-profile-2.0.6.pom
local-proj-repo/org/apache/maven/maven-profile/2.0.6/maven-profile-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-project/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-project/2.0.6/maven-project-2.0.6.jar
local-proj-repo/org/apache/maven/maven-project/2.0.6/maven-project-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-project/2.0.6/maven-project-2.0.6.pom
local-proj-repo/org/apache/maven/maven-project/2.0.6/maven-project-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-repository-metadata/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-repository-metadata/2.0.6/maven-repository-metadata-2.0.6.jar
local-proj-repo/org/apache/maven/maven-repository-metadata/2.0.6/maven-repository-metadata-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-repository-metadata/2.0.6/maven-repository-metadata-2.0.6.pom
local-proj-repo/org/apache/maven/maven-repository-metadata/2.0.6/maven-repository-metadata-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven-settings/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven-settings/2.0.6/maven-settings-2.0.6.jar
local-proj-repo/org/apache/maven/maven-settings/2.0.6/maven-settings-2.0.6.jar.sha1
local-proj-repo/org/apache/maven/maven-settings/2.0.6/maven-settings-2.0.6.pom
local-proj-repo/org/apache/maven/maven-settings/2.0.6/maven-settings-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/maven/2.0.6/_remote.repositories
local-proj-repo/org/apache/maven/maven/2.0.6/maven-2.0.6.pom
local-proj-repo/org/apache/maven/maven/2.0.6/maven-2.0.6.pom.sha1
local-proj-repo/org/apache/maven/plugins/maven-clean-plugin/2.5/_remote.repositories
local-proj-repo/org/apache/maven/plugins/maven-clean-plugin/2.5/maven-clean-plugin-2.5.jar
local-proj-repo/org/apache/maven/plugins/maven-clean-plugin/2.5/maven-clean-plugin-2.5.jar.sha1
local-proj-repo/org/apache/maven/plugins/maven-clean-plugin/2.5/maven-clean-plugin-2.5.pom
local-proj-repo/org/apache/maven/plugins/maven-clean-plugin/2.5/maven-clean-plugin-2.5.pom.sha1
local-proj-repo/org/apache/maven/plugins/maven-install-plugin/2.4/_remote.repositories
local-proj-repo/org/apache/maven/plugins/maven-install-plugin/2.4/maven-install-plugin-2.4.jar
local-proj-repo/org/apache/maven/plugins/maven-install-plugin/2.4/maven-install-plugin-2.4.jar.sha1
local-proj-repo/org/apache/maven/plugins/maven-install-plugin/2.4/maven-install-plugin-2.4.pom
local-proj-repo/org/apache/maven/plugins/maven-install-plugin/2.4/maven-install-plugin-2.4.pom.sha1
local-proj-repo/org/apache/maven/plugins/maven-plugins/22/_remote.repositories
local-proj-repo/org/apache/maven/plugins/maven-plugins/22/maven-plugins-22.pom
local-proj-repo/org/apache/maven/plugins/maven-plugins/22/maven-plugins-22.pom.sha1
local-proj-repo/org/apache/maven/plugins/maven-plugins/23/_remote.repositories
local-proj-repo/org/apache/maven/plugins/maven-plugins/23/maven-plugins-23.pom
local-proj-repo/org/apache/maven/plugins/maven-plugins/23/maven-plugins-23.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-components/1.1.7/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-components/1.1.7/plexus-components-1.1.7.pom
local-proj-repo/org/codehaus/plexus/plexus-components/1.1.7/plexus-components-1.1.7.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-8/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-8/plexus-container-default-1.0-alpha-8.pom
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-8/plexus-container-default-1.0-alpha-8.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-9-stable-1/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-9-stable-1/plexus-container-default-1.0-alpha-9-stable-1.jar
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-9-stable-1/plexus-container-default-1.0-alpha-9-stable-1.jar.sha1
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-9-stable-1/plexus-container-default-1.0-alpha-9-stable-1.pom
local-proj-repo/org/codehaus/plexus/plexus-container-default/1.0-alpha-9-stable-1/plexus-container-default-1.0-alpha-9-stable-1.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-containers/1.0.3/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-containers/1.0.3/plexus-containers-1.0.3.pom
local-proj-repo/org/codehaus/plexus/plexus-containers/1.0.3/plexus-containers-1.0.3.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-digest/1.0/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-digest/1.0/plexus-digest-1.0.jar
local-proj-repo/org/codehaus/plexus/plexus-digest/1.0/plexus-digest-1.0.jar.sha1
local-proj-repo/org/codehaus/plexus/plexus-digest/1.0/plexus-digest-1.0.pom
local-proj-repo/org/codehaus/plexus/plexus-digest/1.0/plexus-digest-1.0.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-utils/1.0.4/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-utils/1.0.4/plexus-utils-1.0.4.pom
local-proj-repo/org/codehaus/plexus/plexus-utils/1.0.4/plexus-utils-1.0.4.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-utils/1.4.1/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-utils/1.4.1/plexus-utils-1.4.1.pom
local-proj-repo/org/codehaus/plexus/plexus-utils/1.4.1/plexus-utils-1.4.1.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus-utils/3.0.5/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus-utils/3.0.5/plexus-utils-3.0.5.jar
local-proj-repo/org/codehaus/plexus/plexus-utils/3.0.5/plexus-utils-3.0.5.jar.sha1
local-proj-repo/org/codehaus/plexus/plexus-utils/3.0.5/plexus-utils-3.0.5.pom
local-proj-repo/org/codehaus/plexus/plexus-utils/3.0.5/plexus-utils-3.0.5.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus/1.0.11/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus/1.0.11/plexus-1.0.11.pom
local-proj-repo/org/codehaus/plexus/plexus/1.0.11/plexus-1.0.11.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus/1.0.4/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus/1.0.4/plexus-1.0.4.pom
local-proj-repo/org/codehaus/plexus/plexus/1.0.4/plexus-1.0.4.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus/1.0.8/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus/1.0.8/plexus-1.0.8.pom
local-proj-repo/org/codehaus/plexus/plexus/1.0.8/plexus-1.0.8.pom.sha1
local-proj-repo/org/codehaus/plexus/plexus/3.1/_remote.repositories
local-proj-repo/org/codehaus/plexus/plexus/3.1/plexus-3.1.pom
local-proj-repo/org/codehaus/plexus/plexus/3.1/plexus-3.1.pom.sha1
local-proj-repo/org/sonatype/forge/forge-parent/10/_remote.repositories
local-proj-repo/org/sonatype/forge/forge-parent/10/forge-parent-10.pom
local-proj-repo/org/sonatype/forge/forge-parent/10/forge-parent-10.pom.sha1
local-proj-repo/org/sonatype/spice/spice-parent/17/_remote.repositories
local-proj-repo/org/sonatype/spice/spice-parent/17/spice-parent-17.pom
local-proj-repo/org/sonatype/spice/spice-parent/17/spice-parent-17.pom.sha1
armtmp/configs/config.properties
armtmp/configs/log-conf.xml
armtmp/configs/ui_lastRun.properties
armtmp/dataloader.command
armtmp/dataloader.ico
armtmp/fileicon
armtmp/install.command
armtmp/libswt-awt-cocoa-4942r22.jnilib
armtmp/libswt-cocoa-4942r22.jnilib
armtmp/libswt-pi-cocoa-4942r22.jnilib
armtmp/samples/conf/accountExtractMap.sdl
armtmp/samples/conf/accountExtractToDbMap.sdl
armtmp/samples/conf/accountInsertMap.sdl
armtmp/samples/conf/accountMasterMap.sdl
armtmp/samples/conf/accountUpdateMap.sdl
armtmp/samples/conf/database-conf.xml
armtmp/samples/conf/log-conf.xml
armtmp/samples/conf/opportunityInsertMap.sdl
armtmp/samples/conf/opportunityUpdateMap.sdl
armtmp/samples/conf/opportunityUpsertMap.sdl
armtmp/samples/conf/process-conf.xml
armtmp/samples/conf/sample.key
armtmp/samples/data/accountData.csv
armtmp/samples/data/opportunityData.csv
armtmp/samples/status/accountMasterSoapTrace.log
armtmp/samples/status/error0413060133.csv
armtmp/samples/status/success0413060133.csv
tmp/configs/ui_lastRun.properties
tmp/libswt-awt-cocoa-4942r22.jnilib
tmp/libswt-cocoa-4942r22.jnilib
tmp/libswt-pi-cocoa-4942r22.jnilib
netsocket.txt
sslnewbulk.txt
sslnewpartner.txt
sslreusebulk.txt
sslreusepartner.txt
configs/.config.properties.swp
local-proj-repo/org/apache/maven/maven-artifact-manager/2.0.6/_remote.repositories
.dlbuilder.sh.swp
wintmp/configs/ui_lastRun.properties
mycertfile.pem
tmp/dataloader-52.0.0-uber.jar
wintmp/dataloader-52.0.0-uber.jar
dataloader_win.zip.save
deplist.txt
deplist.out
wintmp/install.txt
zulu16.30.15-ca-jre16.0.1-win_x64.msi
